ragflow:
  host: ${RAGFLOW_HOST:-0.0.0.0}
  http_port: ${SVR_HTTP_PORT:-9380}
es:
  hosts: 'http://${ES_HOST:-127.0.0.1}:${ES_PORT:-9200}'
  username: '${ES_USER:-elastic}'
  password: '${ELASTIC_PASSWORD:-123456}'
postgres:
  host: '${POSTGRES_HOST:-127.0.0.1}'
  port: ${POSTGRES_PORT:-5432}
  user: '${POSTGRES_USER:-postgres}'
  password: '${POSTGRES_PASSWORD:-123456}'
  name: '${POSTGRES_DBNAME:-postgres}'
  max_connections: 100
  stale_timeout: 30
redis:
  host: '${REDIS_HOST:-127.0.0.1}:${REDIS_PORT:-6379}'
  password: '${REDIS_PASSWORD:-123456}'
  db: 1
oss:
  access_key: '${ACCESS_KEY}'
  secret_key: '${SECRET_KEY}'
  endpoint_url: '${ENDPOINT}'
  region: '${REGION}'
  bucket: '${BUCKET}'
  prefix_path: '${OSS_PREFIX_PATH}'

# user_default_llm:
#   factory: 'Tongyi-Qianwen'
#   api_key: 'sk-xxxxxxxxxxxxx'
#   base_url: ''
#   default_models:
#     chat_model: 'qwen-plus'
#     embedding_model: 'BAAI/bge-large-zh-v1.5@BAAI'
#     rerank_model: ''
#     asr_model: ''
#     image2text_model: ''
# oauth:
#   github:
#     client_id: xxxxxxxxxxxxxxxxxxxxxxxxx
#     secret_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
#     url: https://github.com/login/oauth/access_token
#   feishu:
#     app_id: cli_xxxxxxxxxxxxxxxxxxx
#     app_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
#     app_access_token_url: https://open.feishu.cn/open-apis/auth/v3/app_access_token/internal
#     user_access_token_url: https://open.feishu.cn/open-apis/authen/v1/oidc/access_token
#     grant_type: 'authorization_code'
# authentication:
#   client:
#     switch: false
#     http_app_key:
#     http_secret_key:
#   site:
#     switch: false
# permission:
#   switch: false
#   component: false
#   dataset: false
