.txt-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  /* 默认样式，适用于浅色模式 */
  background-color: #ffffff; /* 浅色背景 */
  color: #000000; /* 深色文字 */
  /* 检测用户是否开启了深色模式 */
  @media (prefers-color-scheme: dark) {
    background-color: #000000; /* 深色背景 */
    color: #ffffff; /* 浅色文字 */
    /* 其他需要适配深色模式的元素样式 */
    .element {
      background-color: #333333; /* 深色背景 */
      color: #ffffff; /* 浅色文字 */
    }
  }

  /* 检测用户是否开启了高对比度模式 */
  @media (prefers-contrast: more) {
    background-color: #ffffff; /* 高对比度背景 */
    color: #000000; /* 高对比度文字 */

    /* 其他需要适配高对比度模式的元素样式 */
    .element {
      background-color: #000000; /* 高对比度背景 */
      color: #ffffff; /* 高对比度文字 */
    }
  }
}

.txt-container .txt-content {
  max-width: 800px;
  @media (min-width: 800px) {
    .resizable-container {
      width: 80vh;
    }
  }
}
